@import "fonts";
@import "reset";
@import "variables";
@import "menu";
@import "footer";

html,
body {
  font-family: Roboto;
  background-color: #000;
  height: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
// p {
//     color: red;
//     background: url("@img/test.jpg");
//   }
// @media screen and (min-width: 900px) {
//   body {
//     color: green;
//     background: url("@img/test.jpg");
//   }
// }
// @media screen and (min-width: 900px) {
//     span {
//         color: red;
//     }
//   }
